<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="nextDate" value="2020-12-30" />
	<parameter name="RandomPastDate" value="2020-12-01" />
	<parameter name="InCorrectURl" value="https://api.ratesapi.io/api/" />
	
	  <test thread-count="5" name="Test">
	    <classes>
	      <class name="SeleniumAutomation.InterviewQuestion.API"/>
	    </classes>
	  </test> <!-- Test -->
</suite> <!-- Suite -->
